.ecwid-reconnect:before {
    font-family: FontAwesome;
    content: "\f0c1";
    width: 1.2em;
    display: inline-block;
    padding-right: 5px;
}

.ecwid-reconnect:hover:before {
    content: "\f141";
}

.ecwid-first-row {
    margin-bottom: 8px;
}

.ecwid-first-row .ecwid-store-id {
    vertical-align: middle;
    margin-right:5px;
}